

p3 {
    text-justify: center;
    text-align: center;
    background-color: rgba(255, 255, 255, 0);
    color: rgb(255, 255, 255);
    font-family: monospace;
    font-size: 30px;
    text-decoration: none;
}


a.button3{
    display:inline-block;
    padding:0.35em 1.2em;
    border:0.1em solid #FFFFFF;
    margin:0 0.3em 0.3em 0;
    border-radius:0.12em;
    box-sizing: border-box;
    text-decoration:none;
    font-family:'Roboto',sans-serif;
    font-weight:300;
    color:#FFFFFF;
    text-align:center;
    transition: all 0.2s;
    }
    a.button3:hover{
        color:#000000;
        background-color:#FFFFFF;
    }
    @media all and (max-width:30em){
    a.button3{
        display:block;
        margin:0.4em auto;
    }
}

body {
    background-color: rgb(66, 66, 66);
    color: rgb(48, 48, 48);
    background-image: url(../a.gif);
    background-size: cover;
    background-repeat: no-repeat;
    background-repeat:repeat;
    background-attachment:fixed;
    overflow:scroll;
    font-family: "Comic Sans MS", "Comic Sans";
    align-items: center;
    
}
    
body::-webkit-scrollbar {
    display: none; /* for Chrome, Safari, and Opera */
}




h1 {
    color: rgb(0, 225, 255);
    position: relative;
    text-align: center;
    text-justify: center;
    text-align: center;
    -webkit-text-stroke: 1px rgb(0, 0, 0);
    text-align: center;
    top: 160px;
    display: inline-block
}
.title {
    text-align: center;
  }

h2 {
    color: rgb(0, 162, 255);
    -webkit-text-stroke: 1px black; /* width and color */
}

h3 {
    color:rgb(0, 204, 255);
    position: relative;
    text-justify: center;
    text-align: center;
    top: 160px;
    -webkit-text-stroke: 1px black; /* width and color */

}

h4{
    color:rgb(253, 253, 253);
    position: relative;
    text-align: center;
    top: 500px;
    -webkit-text-stroke: 1px black; /* width and color */
}

p {
    text-align: center;

    position:relative;

    top: 1050px;
}

div {
    text-align: center;
}

img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    position:relative;
    top:1000px;
    
    

    
}

video {
    margin-left: auto;
    margin-right: auto;
    display: block
}

li {
    color: cornsilk;
}

p2{
    text-align:center;

    position:relative;
    top: 200px;

    

}

p3{
    background-color: rgba(255, 255, 255, 0);
    color: rgb(255, 255, 255);
    font-family: Arial, Helvetica, sans-serif;
}

img {
    border: 5px solid #555;
}



.scrollbar-hidden::-webkit-scrollbar {
  display: none;
}



