

p3 {
    text-justify: center;
    text-align: center;
    background-color: rgba(255, 255, 255, 0);
    color: rgb(255, 255, 255);
    font-family: monospace;
    font-size: 30px;
    text-decoration: none;
}


a.button3{
    display:inline-block;
    padding:0.3em 1.2em;
    margin:0 0.3em 0.3em 0;
    border-radius:3em;
    border-color:rgb(0, 0, 0);
    box-sizing: border-box;
    text-decoration:none;
    font-family:'Roboto',sans-serif;
    font-weight:300;
    color:#ffffff;
    background-color:#00a2ff5c;
    text-align:center;
    transition: all 0.2s;
    -webkit-text-stroke: 0.2px black;
    }
    a.button3:hover{
    background-color:#4095c6;
    }
    @media all and (max-width:30em){
    a.button3{
    display:block;
    margin:0.2em auto;
    }
}

body {
    background-color: rgb(66, 66, 66);
    color: rgb(48, 48, 48);
    background-image: url(../b22aa22b2f3f55b6468361158d52e2e7.gif);
    background-size: cover;
    background-repeat: no-repeat;
    background-repeat:repeat;
    background-attachment:fixed;
    overflow:scroll;
    font-family: "Comic Sans MS", "Comic Sans", cursive;
    
    
}
    
body::-webkit-scrollbar {
    display: none; /* for Chrome, Safari, and Opera */
}


h1 {
    color: rgb(0, 225, 255);
    position: relative;
    text-align: center;
    top: 160px;
    -webkit-text-stroke: 1px rgb(0, 0, 0);
}

h2 {
    color: rgb(0, 162, 255);
    -webkit-text-stroke: 1px black; /* width and color */
}

h3 {
    color:rgb(0, 204, 255);
    position: relative;
    text-align: center;
    top: 160px;
    -webkit-text-stroke: 1px black; /* width and color */
}

h4{
    color:rgb(253, 253, 253);
    position: relative;
    text-align: center;
    top: 500px;
    -webkit-text-stroke: 1px black; /* width and color */
}

p {
    text-align: center;

    position:relative;

    top: 1050px;
}

div {
    text-align: center;
}

img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    position:relative;
    top:1000px;
    
    

    
}

video {
    margin-left: auto;
    margin-right: auto;
    display: block
}

li {
    color: cornsilk;
}

p2{
    text-align:center;

    position:relative;
    top: 200px;

    

}

p3{
    background-color: rgba(255, 255, 255, 0);
    color: rgb(255, 255, 255);
    font-family: Arial, Helvetica, sans-serif;
}

img {
    border: 5px solid #555;
}



.scrollbar-hidden::-webkit-scrollbar {
  display: none;
}



